{% extends "base.html" %}

{% block title %}Détail{% endblock %}

{% block content %}

<h2>{{ element.codeOperation }}</h2>

<div class="detail">

    <p>
        <strong>Équipement concerné :</strong>
        {{ element.cibleTechnique }}
    </p>

    <p>
        <strong>Nature de l'action :</strong>
        {{ element.natureAction }}
    </p>

    <p>
        <strong>Responsable :</strong>
        {{ element.responsable }}
    </p>

    <p>
        <strong>Progression :</strong>
        {% if element.progression == "Programmée" %}
            📅 {{ element.progression }}
        {% elif element.progression == "En cours" %}
            🔧 {{ element.progression }}
        {% else %}
            ✅ {{ element.progression }}
        {% endif %}
    </p>

    <p>
        <strong>Rapport :</strong>
        {{ element.rapportOperation }}
    </p>

</div>

<a href="{{ url_for('index') }}">
    ← Retour à la liste
</a>

{% endblock %}